body {
  margin: 0;
  padding-top: 80px;
  padding-left: 160px;
  background-color: var(--main-color);
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --main-color: #006DAA;
  --sidebar-color: #061A40;
  --text-color: #B9D6F2;
  --button-on-hover-color: #003559; 

}

.h1 {
  padding: 0;
  margin: 0;
}