.header-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 210, 210);
  z-index: 100;
}
