.page {
  display: grid;
  grid-template-columns: 0.11fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sidebar home-section"
  "none about-section"
  "none skills-section"
  "none projects-section"
  "none contact-section";
  gap: 20px;
  height: 100%;
}

#home-section {
  background-color: rgb(153, 84, 96);
  grid-area: home-section;
}
#about-section {
  background-color: rgb(61, 93, 78);
  grid-area: about-section;
}
#skills-section {
  background-color: rgb(220, 192, 255);
  grid-area: skills-section;
}
#projects-section {
  background-color: rgb(192, 241, 255);
  grid-area: projects-section;
}
#contact-section {
  background-color: rgb(255, 213, 192);
  grid-area: contact-section;
}
aside {
  background-color: rgb(201, 81, 20);
  grid-area: sidebar;
}




/*=====================MAIN====================*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-section-container,
.about-section-container,
.skills-section-container,
.projects-section-container,
.contact-section-container {
  height: 100vh;
  border-bottom: 2px solid black;
}


/*=====================HOME-SECTION====================*/
.home-section-container {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 100px auto 100px;
  justify-content: space-around;

}

.profile-picture-container {
  background-color: transparent;
  width: 350px;
  height: 450px;
  border: 1px solid rgb(137, 132, 132);
  border-radius: 250px;
  grid-row: 2;
  grid-column: 2;
  justify-self: center; /* Center horizontally within the cell */
  align-self: center; /* Center vertically within the cell */
  
}
.profile-picture {
  width: 300px;
  border-radius: 150px;
  margin-left: 25px;
  margin-top: 25px;
  
}

.home-headline {
  font-family: Roboto, Arial;
  font-size: clamp(0.5rem, 1rem + 10vw ,1rem);
  color: var(--text-color);
  grid-row: 1;
  grid-column: 2;
  align-self: self-end;
}

/*=====================ABOUT-SECTION====================*/




/*=====================SKILLS-SECTION====================*/




/*=====================PROJECTS-SECTION====================*/





/*=====================CONTACT-SECTION====================*/

#contact-section { 
  display: grid;
  place-items: center;
}

.contact-section-container {
  background-color: var(--text-color);
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin: auto;
  align-items: top;
  width: 80%;
  height: 50%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgb(50, 45, 45);
}

/*=====================CONTACT-LEFT-SIDE====================*/

.contact-left-side{
  display: grid;
  grid-template-rows: auto;
  margin: 20px;
  border-right: 2px solid black;
}

.contact-left-side p,
.contact-left-side h1 {
  color: #111;
  font-family: Roboto ,arial;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}
.contact-left-side h1 {
  font-size: 50px;
}


.chat-bubble {
  width: 100%;
  animation: imageFloatUpDown 2s ease-in-out infinite;
}


@keyframes imageFloatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*=====================CONTACT-RIGHT-SIDE====================*/

.contact-right-side {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input,
.email-input,
.message-input,
.phone-input {
  display: block;
  background-color: #F2F6F8;
  color: gray;
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 35px;
  margin-top: 20px;
  padding-left: 7px;
  padding-top: 2px;
}

.message-input {
  height: 150px;
  padding-left: 10px;
  padding-top: 5px;
  resize: vertical;
  max-height: 250px;
  min-height: 50px;
}

.send-button {
  background-color: var(--sidebar-color);
  color: var(--text-color);
  width: 90px;
  height: 40px;
  font-family: Roboto, arial;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 45px;
  border: none;
  margin-top: 20px;
  box-shadow: 2px 2px 3px rgb(86, 86, 86);
  cursor: pointer;
}

.send-button:active {
  opacity: 45%;
  box-shadow: none;
}
.send-button:hover {
  background-color: var(--button-on-hover-color);
}
