/*=====================MAIN====================*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-section-container,
.about-section-container,
.skills-section-container,
.projects-section-container,
.contact-section-container {
  height: 99vh;
}


/*=====================HOME-SECTION====================*/
.profile-picture-container {
  background-color: transparent;
  width: 350px;
  height: 450px;
  border: 1px solid rgb(137, 132, 132);
  border-radius: 250px;
  
}
.profile-picture {
  width: 300px;
  border-radius: 150px;
  margin-left: 25px;
  margin-top: 25px;
  
  
}

/*=====================ABOUT-SECTION====================*/




/*=====================SKILLS-SECTION====================*/




/*=====================PROJECTS-SECTION====================*/





/*=====================CONTACT-SECTION====================*/

