.sidebar-container {
  background-color: rgb(205, 201, 201);
  color: white;
  width: 80px;
  top: 80px;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(175, 175, 175);
  z-index: 99;

  border: 1px solid black;

}

.sidebar-image {
  width: 32px;
}

.navigation-button {

  width: 32px;
}